.st0 {
	fill:#EFF7F6;
}
.st1 {
	fill:#231F20;
}
.st2 {
	fill:#7BDFF2;
}
.st3 {
	fill:#B2F7EF;
}
.st4 {
	fill:#F7D6E0;
}
.st5 {
	fill:#F2B5D4;
}
.st6 {
	fill:#2C2C2C;
}
.st7 {
	fill:#E7E1F8;
}
.st8 {
	fill:#606060;
}
.st9 {
	fill:#FFFFFF;
}
.st10 {
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#231F20;
}
.st11 {
	display:none;
}
.st12 {
	display:inline;
	fill:#FFFFFF;
}
.st13 {
	clip-path:url(#SVGID_2_);
}
.st14 {
	fill:none;
	stroke:#B2F7EF;
	stroke-width:5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}
.st15 {
	fill:none;
	stroke:#F7D6E0;
	stroke-width:5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}
.st16 {
	fill:#FDF0ED;
	stroke:#231F20;
	stroke-width:1.1001;
	stroke-miterlimit:10;
}
.st17 {
	clip-path:url(#SVGID_4_);
}
.st18 {
	fill:#FAD91D;
}
.st19 {
	fill:none;
	stroke:#231F20;
	stroke-miterlimit:10;
}
.st20 {
	fill:none;
	stroke:#231F20;
	stroke-width:3;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}
.st21 {
	fill:#3B2713;
	stroke:#231F20;
	stroke-width:2;
	stroke-miterlimit:10;
}
.st22 {
	fill:#FDF0ED;
	stroke:#231F20;
	stroke-width:1.3025;
	stroke-miterlimit:10;
}
.st23 {
	fill:#3B2713;
}
.st24 {
	fill:#FDF0ED;
	stroke:#231F20;
	stroke-width:1.516;
	stroke-miterlimit:10;
}
.st25 {
	fill:#F9CED9;
}
.st26 {
	fill:none;
	stroke:#E80E8A;
	stroke-width:4;
	stroke-miterlimit:10;
}
.st27 {
	fill:none;
	stroke:#EF5567;
	stroke-width:3.0897;
	stroke-linecap:round;
	stroke-miterlimit:10;
}
.st28 {
	fill:none;
	stroke:#231F20;
	stroke-width:5;
	stroke-linecap:round;
	stroke-miterlimit:10;
}
.st29 {
	fill:#FFFFFF;
}
