html, body {
    background-color: #EFF7F6;
    font-family: 'Proza Libre', sans-serif;
    font-size: 1rem;
}

.navbar {
    max-width: 1160px;
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 1.125rem;
    margin: 0 auto;
}

.navlinks {
    display: inline;
    flex: 1;
    padding: 1.5rem;
}

.navlinks a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin: 0 2rem;
    padding: 0;
}

.navlinks a:after {
    content: " ";
    background: #7BDFF2;
    width: 0%;
    height: 2px;
    display: block;
    margin: 5px auto;
    transition: width 0.3s ease-in;
    -webkite-transition: width 0.3s ease-in;
}

.navlinks a:hover:after {
    width: 80%;
 }

.brand {
    height: 82px;
    width: 82px;
}

.social-links {
    padding: 1.5rem;
}

.social-links a {
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
    margin: 0 10px;
    display: inline;
}

.main-banner {
    width: 100%;
    height: 100vh;
}
